{{#each clients}}
<tr>
	<td><a href="/client/{{id}}" class="small">{{name}}</a></td>
	<td><span class="text-info small">{{progress_detail}}</span></td>
	<td><span class="text-warning small">{{status_detail}}</span></td>
</tr>
{{/each}}