{{#each histories}}
<tr>
	<td><span class="small">{{date}}</span></td>
	<td><span class="text-info small">{{action}}</span></td>
	<td><span class="text-warning small">{{{detail}}}</span></td>
</tr>
{{/each}}